<p id="notice"><%= notice %></p>

<div class="register-box">
  <div class="register-logo">
    <a href="/">Editing Meeting</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">이벤트를 수정해주세요</p>
    
    <%= render 'form' %>

    <%= link_to 'Show', @meeting %> |
    <%= link_to 'Back', meetings_path %>
  </div>
</div>
