<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MoMCARE | MeetingEdit</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
 
</head>



<body class="hold-transition skin-blue sidebar-mini">


  <div class="control-sidebar-bg"></div>

<p id="notice"><%= notice %></p>

<div class="register-box">
  <div class="register-logo">
    <a href="/">Editing Meeting</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">이벤트를 수정해주세요</p>
    
    <%= render 'form' %>

    <%= link_to 'Show', @meeting %> |
    <%= link_to 'Back', meetings_path %>
  </div>
</div>

<div class="container" align="center">
      <!--<h1>Editing Meeting</h1>-->
    
    <%#= render 'form' %>
    
    <%#= link_to 'Show', @meeting %> |
    <%#= link_to 'Back', meetings_path %>

</div>
<br>



</body>



</body>
</html>
