<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-body">
                  <%sort_h = keyword_ranking(Category.find(@cate_param).keyword)%>
                  <%if sort_h.size==0%>
                        <p>아직 정보가 수집되지 않았습니다!</p>
                  <%else%>
                    <%for i in 0..sort_h.size-1%>
                    <div class="attachment-block clearfix" align="center" >
                          <h4 class="attachment-heading"><a href="/home/ranking/<%=@cate_param%>/<%=i+1%>"><%=i+1%>위. <%=sort_h[i][0]%></a></h4>
                    </div>
                    <%end%>
                  <%end%>
                </div>
                
                </div>
            </div>
        <div class="col-md-2"></div>
    </div>