<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-body">
                    <%@crawler_id.each do |c_id|%>
                        <%@blog = Blog.where(crawler_id: c_id).take%>
                        <div class="attachment-block clearfix">
                          <h4 class="attachment-heading"><a href="<%= @blog.blog_link %>"target="_blank"><%= @blog.blog_title %></a></h4><br>
                          <div class="attachment-text">
                           <p><%= @blog.blog_s_content%></p>
                          </div>
                      </div>
                      <br>
                  <%end%>
                </div>
                
                </div>
            </div>
        <div class="col-md-2"></div>
    </div>

    <!--<center>-->
    <!--<ul class="pagination pagination-lg no-margin">-->
    <!--    <li><a href="#">&laquo;</a></li>-->
    <!--    <%# for i in 1..10 %>-->
    <!--        <li><a href="#"><%#=i%></a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
    <!--    <#% end %>-->
    <!--    <li><a href="#">&raquo;</a></li>-->
    <!--</ul>-->
    <!--</center>-->
  
  