      <div class="row">
        
        <!-- ./col -->
        <%@categories_array.each do |cate|%>
          <%if @categories.include? cate%>
            <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-<%=["black","red","aqua","blue","navy","teal","green","olive","yellow","orange","fuchsia","purple","maroon"].sample(1).join%>">
              <div class="inner">
                <p>65 VIEW</p>
                
                <h3><center><%=cate%></center></h3><br><hr>
                <center>
                  <p>1위. </p>
                  <p>2위. </p>
                  <p>3위. </p>
                  <p>4위. </p>
                  <p>5위. </p>
                </center>
  
  
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              
              <!-- Find array index -->
              <% @cate_index = @categories_array.index(cate) %>
              <!-- /Find array index -->
              
              <a href="/home/ranking/<%= @cate_index+1 %>" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
            </div>
            <!-- ./col -->
          
          <%end%>
        <%end%>
        </div>
      <!-- /.row -->

