<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-body">
                  <!--  <%#@crawler_id.each do |c_id|%>-->
                  <!--      <%#@blog = Blog.where(crawler_id: c_id).take%>-->
                  <!--      <div class="attachment-block clearfix">-->
                  <!--        <h4 class="attachment-heading"><a href="<%#= @blog.blog_link %>"target="_blank"><%#= @blog.blog_title %></a></h4><br>-->
                  <!--        <div class="attachment-text">-->
                  <!--         <p><%#= @blog.blog_s_content%></p>-->
                  <!--         <p><%#=Crawler.find(c_id).regulated_tag%></p>-->
                  <!--        </div>-->
                  <!--    </div>-->
                  <!--    <br>-->
                  <!--<%#end%>-->
                  <%sort_h = keyword_ranking(Category.find(@cate_param).keyword)%>
                  <%sort_h_keyword = sort_h[@keyword_ranking-1][0]%>
                  <h3><%=sort_h_keyword%>(으)로 검색한 결과입니다.</h3>
                  <%if sort_h.size==0%>
                        <p>아직 정보가 수집되지 않았습니다!</p>
                  <%else%>
                  <%Blog.all.each do |b|%>
            		<%if b.blog_s_content.gsub(" ","").include? sort_h_keyword%>
            		<div class="attachment-block clearfix">
            			<h4 class="attachment-heading"><a href="<%= b.blog_link %>"target="_blank"><%= b.blog_title %></a></h4><br>
            			<div class="attachment-text">
                           <p><%= b.blog_s_content%></p>
                        </div>
                        </div>
            		<%end%>
            	  <%end%>
            	  <%end%>
                </div>
                
                </div>
            </div>
    </div>

  