  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">장난감 TOP20</h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-hover dataTable">
            <% for i in 1..20%>
              <tr>
                <td><%=i%>위.</td>
                <td><a href="/home/detail">브이텍기차놀이</a></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
